
@{
    ViewData["Title"] = "Students";
}

@if( ViewBag.Role == "教师" || ViewBag.Role == "班长")
{
    <form action="filter">
        <p>
            学号: <input type="text" name="identify">
            <input type="submit" value="查询" />
        </p>
    </form>
}


<table>
    @foreach (var stu in ViewBag.stuList as List<学生课程成绩.Models.Student>)
    {
    <tr>
        <td>
            @if (ViewBag.Role == "教师")
            {
                @stu.RelName
                <a href="modify?id=@stu.Id">编辑</a>
            }
            else if (ViewBag.Role == "班长")
            {
                @stu.RelName
                <a href="StudentsDetail?id=@stu.Id">查看</a>
            }
        </td>
    
            <td>@stu.Sex</td>
            <td>@stu.Age</td>
            <td>@stu.department.Name</td>
            <td>@stu.Birthday</td>
            <td>@stu.From</td>
            <td>@stu.No</td>
            <td>@stu.UserName</td>
            <td>@stu.Password</td>
            <td>@stu.Position</td>
            <td>@stu.Grade</td>

        <td>
            @if (ViewBag.Role == "教师")
            {
                <a href="edit?id=@stu.Id">学生信息编辑</a>
                <a href="delete?id=@stu.Id&&did=@stu.departmentId">删除</a>
            }
        </td>
    </tr>
    }
</table>
<br /><br />
@if (ViewBag.Role == "教师")
{
    <a href="add">添加学生</a>
}




